<div>
  <p>
    Play your own unique version of
    <a href="https://en.wikipedia.org/wiki/In_C" target="_blank">"Nós"</a>
    with the help of five automated bot performers.
  </p>
  <p>
    Every bot plays the same sequence of 20 short musical patterns.
    Each bot will keep repeating the same pattern until <em>one</em> decide it should move on to the next.
  </p>
  <p>
    Over time, different musical and visual combinations will emerge.
  </p>
</div>
<div class="initial_form">
  <label for="session_id">Player name:</label>
  <input id="player_name" type="text" />
</div>
<button [disabled]="!samplesLoaded"
        (click)="play.next()">
  <span *ngIf="samplesLoaded">Play</span>
  <span *ngIf="!samplesLoaded">Loading...</span>
</button>
<p>
  Developed by <a href="https://twitter.com/teropa">@teropa</a>.
  <a href="https://github.com/teropa/in-c">Fork me on GitHub</a>.
</p>
